<ion-tabs class="ion-tabs">
  <!-- color="buttonlogin"  -->
  <!-- color="tabscolor" -->
  <ion-tab-bar slot="bottom" color="tabsApproveColor">
    <!-- <ion-tab-button tab="homepage">
      <ion-icon name="home"></ion-icon>
      <ion-label>หน้าแรก</ion-label>
   </ion-tab-button> -->
   
    <ion-tab-button tab="tab1Approve">
      <ion-icon name="paper"></ion-icon>
      <ion-label>ข่าว</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="status-approve">
      <ion-icon name="time"></ion-icon>
      <ion-label>สถานะ</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="approve-news">
      <ion-icon name="checkbox-outline"></ion-icon>
      <ion-label>อนุมัติ</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="tab2Approve">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>รายงานข่าว</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="tab3Approve">
      <ion-icon name="contact"></ion-icon>
      <ion-label>ตั้งค่า</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
