ion-content{
    --ion-background-color:#f2f2f7;
    }
    .width-height-full{ width: 100%; height: 100px; }
.font-text-show{
    font-size: 16px;
}
// ion-header{
//     ion-navbar{
//         div.toolbar-background{
//              background-image: url("../../assets/img/rectangle-rectangle-copy-rectangle-mask@3x.png");
//              background-repeat: no-repeat;
//              background-size:cover;
//              text-align: center;
//         }
//     }
// } 
.colorheadUser{
ion-header ion-toolbar {
    --background: url("../../assets/img/rectangle-rectangle-copy-rectangle-mask@3x.png") center / 100%;
  }
}

.colorheadApprove{
ion-header ion-toolbar {
    --background: url("../../assets/img/admin.jpg") center / 100%;
    }
}

.color-text-header{
    color: lighten($color: #ffff, $amount: 0);
}
.buttoncolor{
    color: #808080;
  }

