ion-content{
    --ion-background-color:#f2f2f7;
    }
.textcolor{
    color: #323293;
}
.textfonthead {
    font-size: 22px;
    color: #333333;
}
.textfontbody {
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    color: #464646;
}
.textcolor1{
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    color: #313090;
}
.texttimecolor{
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    color: #808080;
}
img {
    height: 70px;
    width: 70px;
  }
  ion-header ion-toolbar {
    --background: url("../../assets/img/rectangle-rectangle-copy-rectangle-mask@3x.png") center / 100%;
  }
  .color-text-header{
    color: lighten($color: #ffff, $amount: 0);
  }