<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <div class="color-text-header">
        <ion-back-button></ion-back-button>
      </div>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <div class="color-text-header">
        เนื้อหาข่าว
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="cardcolor2">
    <ion-card-header class="headcolor ion-text-center" *ngIf="news_approve == 0">
      <div class="textcolor">
        รออนุมัติ
      </div>  
    </ion-card-header>
    <ion-card-header class="headcolor ion-text-center" *ngIf="news_approve == 2">
      <div class="textcolor">
        ไม่อนุมัติรอการแก้ไข
      </div>  
    </ion-card-header>
    <ion-card-header>
      <ion-card-title>
        <div class="textfonthead">
          {{ news_topic_detail }}
        </div>
      </ion-card-title>
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <!-- <ion-col class="textcolor1">{{ news_type_detail }}</ion-col>
        <ion-col class="ion-text-right textcolor2">{{ news_time | date:'dd/M/yyyy'}}</ion-col> -->
        <ion-col class="textcolor1" style="padding-left: 11px;">{{ news_type_detail }}</ion-col>
        <ion-col class="ion-text-right textcolor2" style="padding-right: 11px; padding-top: 9.5px">{{ news_time }}</ion-col>
      </ion-row>        
    </ion-grid>
    <!-- <ion-card-content style="font-size: 16px;">
      {{ news_detail }}
    </ion-card-content> -->
    <ion-card-content>
      <div class="textfont">
        {{ news_detail }}
      </div>
    </ion-card-content>
    <!-- <div class="welcome-card">
      <ion-img  *ngIf="urlToImage" [src]="urlToImage" class="ion-padding" style="width: auto; height: auto;"></ion-img>
    </div> -->
    <div *ngFor="let n of getimage">
      <ion-img [src]="n.local_image" class="ion-padding" style="width: auto; height: auto;"></ion-img>
    </div>
     <br>
    <ion-row *ngIf="news_approve == 1" class="ion-padding hrcolor">
      <ion-col size="6" style="font-size: 16px;">ผู้รายงาน:&nbsp;{{ news_w_user_id }}</ion-col>
      <ion-col size="6" class="ion-text-end" style="font-size: 16px;">ที่มา:&nbsp;{{ news_form_detail }}</ion-col>
    </ion-row>
    <div *ngIf="news_approve == 0 || news_approve == 2">
      <div class="ion-padding">
        <div *ngFor="let detail of getDetail">
          <ion-row style="font-size: 16px;">
            <ion-col class="hrcolor ion-padding-top">
              ผู้รายงาน
            </ion-col>
            <ion-col class="hrcolor ion-padding-top ion-text-end">
            {{ detail.news_w_user_id }}
            </ion-col>
          </ion-row>
          <ion-row style="font-size: 16px;">
            <ion-col>
              กลุ่มข่าว
            </ion-col>
            <ion-col class="ion-text-end">
              {{ detail.news_country_detail }}
            </ion-col>
          </ion-row>
          <ion-row style="font-size: 16px;">
            <ion-col>
              ประเภทข่าว
            </ion-col>
            <ion-col class="ion-text-end">
              {{ news_type_detail }}
            </ion-col>
          </ion-row>
          <div *ngIf="detail.country_id == 2">
            <ion-row style="font-size: 16px;">
              <ion-col>
                ทวีป
              </ion-col>
              <ion-col class="ion-text-end">
                {{ detail.continents_name }}
              </ion-col>
            </ion-row>
            <ion-row style="font-size: 16px;">
              <ion-col>
                ชื่อประเทศ
              </ion-col>
              <ion-col class="ion-text-end">
                {{ detail.country_name }}
              </ion-col>
            </ion-row>
          </div>
          <div *ngIf="detail.country_id == 1">
            <ion-row style="font-size: 16px;">
              <ion-col>
                ภูมิภาค
              </ion-col>
              <ion-col class="ion-text-end">
                {{ detail.name }}
              </ion-col>
            </ion-row>
            <ion-row style="font-size: 16px;">
              <ion-col>
              จังหวัด
              </ion-col>
              <ion-col class="ion-text-end">
                {{ detail.name_th_province }}
              </ion-col>
            </ion-row>
            <ion-row style="font-size: 16px;">
              <ion-col>
                อำเภอ/เขต
              </ion-col>
              <ion-col class="ion-text-end">
                {{ detail.name_th_amphure }}
              </ion-col>
            </ion-row>
            <ion-row style="font-size: 16px;">
              <ion-col>
                ตำบล/แขวง
              </ion-col>
              <ion-col class="ion-text-end">
                {{ detail.name_th_district }}
              </ion-col>
            </ion-row>
          </div>
          <ion-row style="font-size: 16px;">
            <ion-col>
              แหล่งที่มา
            </ion-col>
            <ion-col class="ion-text-end">
              {{ news_form_detail }}
            </ion-col>
          </ion-row>
          <ion-row style="font-size: 16px;">
            <ion-col>
              ชั้นความลับ
            </ion-col>
            <ion-col class="ion-text-end">
              <div *ngIf="detail.news_secret == 'normal_secret'">ลับ</div>
              <div *ngIf="detail.news_secret == 'medium_secret'">ลับมาก</div>
              <div *ngIf="detail.news_secret == 'top_secret'">ลับมากที่สุด</div>
            </ion-col>
          </ion-row>
          <ion-row style="font-size: 16px;">
            <ion-col>
              เวลาเกิดเหตุ
            </ion-col>
            <ion-col class="ion-text-end">
              {{ detail.news_time_occurrence }}
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
    <div *ngIf="news_approve == 2">
      <ion-radio-group>
            <ion-row>
              <ion-col>
                  <ion-item lines="none" color="cardcolor2">
                      <ion-label>ไม่อนุมัติ</ion-label>
                      <ion-radio checked slot="start" color="tertiary" (click)="comment()"></ion-radio>
                  </ion-item>
              </ion-col>
            </ion-row>    
      </ion-radio-group>
      <div *ngIf="select" ></div>
      <div *ngIf="select" class="ion-padding" >
        <ion-card-title>
          ความคิดเห็น
        </ion-card-title>
        <br>
        <div class="box">
          <ion-textarea placeholder="ความคิดเห็น" autoGrow="true" rows="7" [(ngModel)]="news_upapprove_comment" disabled="true">
          </ion-textarea>
        </div>
      </div>
        <div class="ion-padding">
          <div *ngIf="select">
          <ion-button (click)="edit()" expand="block" color="buttonlogin" fill="outline">
            แก้ไขข้อมูล
          </ion-button>
          </div>
        </div>
      </div>
      <div *ngIf="news_approve == 0">
        <div class="ion-padding">
          <ion-button (click)="edit()" expand="block" color="buttonlogin" fill="outline">
            แก้ไขข้อมูล
          </ion-button>
        </div>
      </div>
  </ion-card>
</ion-content>
