<!-- <ion-header no-border>
  <ion-toolbar>
      <ion-title class="ion-text-center">
        <div class="color-text-header">
          ฟิตข่าว
        </div>
      </ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="goHome()">
          <div class="color-text-header">
            <ion-icon slot="icon-only" name="home"></ion-icon>
          </div>
        </ion-button>
      </ion-buttons>
  </ion-toolbar> 
  <ion-toolbar color="colorbackground">  
      <ion-buttons slot="end" (click)="goFilter()">
          <ion-button color="buttonlogin"> 
            <ion-icon name="funnel" slot="icon-only"></ion-icon>
          </ion-button>
      </ion-buttons>
    <ion-searchbar (ionChange)="getItems($event)" debounce="500" placeholder="ค้นหา"></ion-searchbar>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="goHome()">
        <div class="color-text-header">
          <ion-icon slot="icon-only" name="home"></ion-icon>
        </div>
      </ion-button>
    </ion-buttons>
    <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="countrySelect" color="light">
      <ion-segment-button value="1">
        <div class="color-text-header">
          ในประเทศ
        </div>
      </ion-segment-button>
      <ion-segment-button value="2">
        <div class="color-text-header">
          ต่างประเทศ
        </div>
      </ion-segment-button>
    </ion-segment>

    <ion-buttons slot="end">
      <ion-button (click)="goFilter()">
        <span>
          <div class="color-text-header">
            <ion-icon slot="icon-only" name="options"></ion-icon>
          </div>
        </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar (ionChange)="getItems($event)" placeholder="ค้นหา"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-item (click)="shown()">
    รออนุมัติ &nbsp; 
    <ion-badge color="colorcard">1</ion-badge>
    <ion-icon name="arrow-dropup" slot="end" color="buttonlogin" *ngIf="value"></ion-icon>
    <ion-icon name="arrow-dropdown" slot="end" color="buttonlogin" *ngIf="select"></ion-icon>
  </ion-item>
  <div *ngIf="value">
    <ion-card *ngFor="let n of datas" color="colorcard" (click)="goDetailNotallow(n)"> 
      <div *ngIf="n.news_approve == 0 && n.news_w_user_id == user_name">
        <ion-card-header>
          <ion-card-title>{{ n.news_topic_detail }}</ion-card-title>
        </ion-card-header>
        <ion-item color="colorcard" lines="none">
          <ion-thumbnail slot="end">
            <img *ngIf="n.local_image" [src]="n.local_image">
          </ion-thumbnail>
          <div class="texts">
            {{ n.news_detail }}
          </div>
        </ion-item> 
        <ion-row>
          <ion-col class="ion-padding-top ion-text-center">
            <div class="textcolor">
              {{n.news_type_detail}}
            </div>
          </ion-col>
          <ion-col class="ion-padding-top ion-text-end">
            <div class="texttime">
              {{ n.news_time.substring(0,10) | date:'dd/M/yyyy' }}
            </div>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-button size="small" color="danger" disabled="true">
              <div class="textthai">
                รออนุมัติ
              </div>
            </ion-button>
          </ion-col>
        </ion-row> 
      </div>    
    </ion-card>
  </div>
  <div class="ion-padding-start ion-padding-top">
    ใหม่ล่าสุด
  </div>
  <ion-card *ngFor="let n of datas" color="colorcard" (click)="goDetailNotallow(n)"> 
    <div *ngIf="n.news_approve == 1">
      <ion-card-header>
        <ion-card-title>{{ n.news_topic_detail }}</ion-card-title>
      </ion-card-header>
      <ion-item color="colorcard" lines="none">
        <ion-thumbnail slot="end">
          <img *ngIf="n.local_image" [src]="n.local_image">
        </ion-thumbnail>
        <div class="texts">
          {{ n.news_detail }}
        </div>
      </ion-item> 
      <ion-row class="fixpadding">
        <ion-col class="ion-text-center">
          <div class="textcolor">
            {{n.news_type_detail}}
          </div>
        </ion-col>
        <ion-col class="ion-text-end">
          <div class="texttime">
            {{ n.news_time.substring(0,10) | date:'dd/M/yyyy' }}
          </div>
        </ion-col>
        <ion-col class="ion-text-center">
        </ion-col>
      </ion-row> 
    </div>    
  </ion-card>

  <ion-card *ngFor="let n of datas" color="cardcolor2" (click)="goDetailNotallow(n)"> 
    <div *ngIf="n.news_approve == 1">
      <ion-card-header>
        <ion-card-title>{{ n.news_topic_detail }}</ion-card-title>
      </ion-card-header>
    <ion-item color="cardcolor2" lines="none">
        <ion-thumbnail slot="end">
          <img *ngIf="n.local_image" [src]="n.local_image">
        </ion-thumbnail>
          <div class="texts">
            {{ n.news_detail }}
          </div>
    </ion-item> 
      <ion-row class="fixpadding">
        <ion-col class="ion-text-center">
          <div class="textcolor">
            {{n.news_type_detail}}
          </div>
        </ion-col>
        <ion-col class="ion-text-end">
          <div class="texttime">
          {{ n.news_time.substring(0,10) | date:'dd/M/yyyy' }}
          </div>
        </ion-col>
        <ion-col class="ion-text-center">
        </ion-col>
      </ion-row> 
    </div>    
  </ion-card> -->  
  
  <div class="ion-padding-start ion-padding-top">
    ใหม่ล่าสุด
  </div>
    <ng-container *ngFor="let n of datasShow">
      <ng-container *ngIf="n.news_approve == 1">
        <ion-card color="colorcard"  (click)="goDetailNotallow(n)">
          <ion-row>
            <ion-col size="9">
              <ion-card-title style="padding: 9px 0px 0px 5px;">{{ n.news_topic_detail | slice:0:70 }}</ion-card-title>
            </ion-col>
            <!-- <ion-col size="3">
              <img *ngIf="n.local_image" [src]="n.local_image" style="padding-top: 9px ;">
            </ion-col> -->
            <ion-col size="3" >
              <img *ngIf="n.images != ''" [src]="n.images[0].local_image" style="padding-top: 9px ;">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="9" class="textfontbody">
              <div style="padding: 0px 0px 0px 5px;">
                {{ n.news_detail | slice:0:50 }}
              </div>
            </ion-col>
            <ion-col size="3"></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4"> 
              <div class="textcolor1" style="padding: 0px 0px 9px 5px;">
                {{n.news_type_detail}}
              </div>
            </ion-col>
            <ion-col size="8" class="texttimecolor ion-text-end" style="padding-top: 7.5px;"> {{ n.news_time }}</ion-col>
          </ion-row>
        </ion-card>
      </ng-container>
    </ng-container>
    
<!-- 
    <ng-container *ngFor="let n of datas">
      <ng-container *ngIf="n.news_approve == 1">
        <ion-card color="cardcolor2" (click)="goDetailNotallow(n)">
          <ion-row>
            <ion-col size="9">
              <ion-card-title style="padding: 9px 0px 0px 5px;">{{ n.news_topic_detail | slice:0:40 }}</ion-card-title>
            </ion-col>
            <ion-col size="3">
              <img *ngIf="n.local_image" [src]="n.local_image" style="padding-top: 9px ;"> -->
              <!-- <ion-img  *ngIf="n.local_image" [src]="n.local_image" style="width: auto; height: auto;"></ion-img>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="9" class="textfontbody">
              <div style="padding: 0px 0px 0px 5px;">
                {{ n.news_detail | slice:0:60 }}
              </div>
            </ion-col>
            <ion-col size="3"></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4"> 
              <div class="textcolor1" style="padding: 0px 0px 9px 5px;">
                {{n.news_type_detail}}
              </div>
            </ion-col>
            <ion-col size="5" class="texttimecolor ion-text-end" > {{ n.news_time.substring(0,10) | date:'dd/M/yyyy' }}</ion-col>
            <ion-col size="3"></ion-col>
          </ion-row>
        </ion-card>
      </ng-container>
    </ng-container> -->

</ion-content>
