ion-content{
    --ion-background-color:#f2f2f7;
    }
.textcolor{
    color: #323293;
}
.custom-icon{
    font-size: 4em;
}
.flex {
  display: flex;
  justify-content: center;
}
.main-button{
  --box-shadow:none;
  width: 100px !important;
  height: 100px !important;
}
.text{
font-family: THSarabunNew;
font-size: 16px;
}
ion-header ion-toolbar {
  --background: url("../../assets/img/rectangle-rectangle-copy-rectangle-mask@3x.png") center / 100%;
}
.color-text-header{
  color: lighten($color: #ffff, $amount: 0);
}


