<ion-header>
  <ion-toolbar color="buttonlogin">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      ตัวกรอง
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="cardcolor2">
    <ion-card-header>
      <ion-card-title>ภูมิภาค</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="box"> 
        <ion-input placeholder="เลือกภูมิภาค"></ion-input>
      </div>
    </ion-card-content>
    <ion-card-header>
        <ion-card-title>รูปแบบข่าว</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="box"> 
        <ion-input placeholder="เลือกรูปแบบข่าว"></ion-input>
      </div>
    </ion-card-content>
    <ion-card-header>
        <ion-card-title>ประเภทข่าว</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="box"> 
        <ion-input placeholder="เลือกประเภทข่าว"></ion-input>
      </div>
    </ion-card-content>
    <ion-card-header>
        <ion-card-title>ค่าข่าว</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="box"> 
        <ion-input placeholder="เลือกค่าข่าว"></ion-input>
      </div>
    </ion-card-content>   
    <ion-card-header>
        <ion-card-title>วันที่</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="box"> 
        <ion-input placeholder="เริ่ม"></ion-input>
      </div>
      <br>
      <div class="box"> 
        <ion-input placeholder="ถึง"></ion-input>
      </div>
    </ion-card-content>

  </ion-card>
  
</ion-content>
