<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <div class="color-text-header">
        <ion-back-button></ion-back-button>
      </div>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <div class="color-text-header">
        ตัวกรอง
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="cardcolor2">
    <!-- <ion-card-header>
      <ion-card-title>ภูมิภาค</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="box"> 
        <ion-input placeholder="เลือกภูมิภาค"></ion-input>
      </div>
    </ion-card-content> -->
    <!-- <ion-card-header>
        <ion-card-title>รูปแบบข่าว</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="box"> 
        <ion-input placeholder="เลือกรูปแบบข่าว"></ion-input>
      </div>
    </ion-card-content> -->
    <ion-card-header>
        <ion-card-title>ประเภทข่าว</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="box"> 
        <ion-input placeholder="เลือกประเภทข่าว" [(ngModel)]="postdata.a"></ion-input>
      </div>
    </ion-card-content>
    <ion-card-header>
      <ion-card-title>เนื้อหาข่าว</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="box"> 
      <ion-input placeholder="เนื้อหาข่าว" [(ngModel)]="postdata.b"></ion-input>
    </div>
  </ion-card-content>
    <!-- <ion-card-header>
        <ion-card-title>ค่าข่าว</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="box"> 
        <ion-input placeholder="เลือกค่าข่าว"></ion-input>
      </div>
    </ion-card-content>    -->
    <ion-card-header>
        <ion-card-title>วันที่</ion-card-title>
    </ion-card-header>
    <!-- <ion-card-content>
      <div class="box"> 
        <ion-input placeholder="เริ่ม" [(ngModel)]="postdata.c" type="date"></ion-input>
      </div>
      <br>
      <div class="box"> 
        <ion-input placeholder="ถึง" [(ngModel)]="postdata.d"></ion-input>
      </div>
    </ion-card-content> -->
    <ion-card-content>
      <div class="box">
        <ion-datetime placeholder="เลือกวันแรก" [(ngModel)]="postdata.c"></ion-datetime>
      </div>
        <br>
      <div class="box">
        <ion-datetime placeholder="เลือกวันสุดท้าย" [(ngModel)]="postdata.d"></ion-datetime>
      </div>
     </ion-card-content>
  <ion-card-header>
      <ion-card-title>เวลา</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="box">
      <ion-datetime display-format="HH:mm" picker-format="HH:mm A" placeholder="เลือกเวลาเริ่มต้น" [(ngModel)]="postdata.e"></ion-datetime>
    </div>
    <br>
    <div class="box">
      <ion-datetime display-format="HH:mm" picker-format="HH:mm A" placeholder="เลือกเวลาสุดท้าย" [(ngModel)]="postdata.f"></ion-datetime>
    </div>
   </ion-card-content>
   <br>
  </ion-card>
  
  <!-- <ion-button (click)="getNews()">
    load data
  </ion-button>

  <ion-button (click)="submit()">
    click
  </ion-button> -->

</ion-content>
