<ion-header>
  <ion-toolbar color="buttonlogin">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>เนื้อหาข่าว</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="cardcolor2">
    <ion-card-header class="headcolor ion-text-center" *ngIf="news_approve == 0">
      <div class="textcolor">
        รออนุมัติ
      </div>  
    </ion-card-header>
    <ion-card-header class="headcolor ion-text-center" *ngIf="news_approve == 2">
      <div class="textcolor">
        ไม่อนุมัติรอการแก้ไข
      </div>  
    </ion-card-header>
    <ion-card-header>
      <ion-card-title>
        <div class="textfonthead">
          {{ news_topic_detail }}
        </div>
      </ion-card-title>
    </ion-card-header>
  <ion-grid>
    <ion-row>
      <!-- <ion-col class="textcolor1">{{ news_type_detail }}</ion-col>
      <ion-col class="ion-text-right textcolor2">{{ news_time | date:'dd/M/yyyy'}}</ion-col> -->
      <ion-col class="textcolor1" style="padding-left: 11px;">{{ news_type_detail }}</ion-col>
      <ion-col class="ion-text-right textcolor2" style="padding-right: 11px; padding-top: 14px;">{{ news_time }}</ion-col>
    </ion-row>        
  </ion-grid>
  <ion-card-content>
    <div class="textfont">
      {{ news_detail }}
    </div>
  </ion-card-content>
    <!-- <div *ngIf="urlToImage === checkimg">
    </div> -->
    <!-- <div *ngIf="urlToImage !== checkimg"> -->
    <div *ngFor="let n of getimage">
        <ion-img [src]="n.local_image" class="ion-padding" style="width: auto; height: auto;"></ion-img>
    </div>
    <br>
      <!-- <ion-img [src]="images" class="ion-padding" style="width: auto; height: auto;"></ion-img> -->
    <!-- </div> -->
    <div class="ion-padding">
      <!-- news_name_alias
      <div class="hrcolor ion-text-end ion-padding-top">
          ที่มา:&nbsp; {{ news_form_detail }}
      </div> -->
      <ion-row style="font-size: 16px;">
        <ion-col size="6" class="hrcolor ion-padding-top">
          ผู้รายงาน:&nbsp;{{ news_name_alias }}
        </ion-col>
        <ion-col size="6" class="hrcolor ion-text-end ion-padding-top"> 
          ที่มา:&nbsp; {{ news_form_detail }}
        </ion-col>
      </ion-row>
      <ion-row style="font-size: 16px;">
        <ion-col size="6" class="ion-padding-top">
          ค่าข่าว:&nbsp;ข(เชื่อถือได้)
        </ion-col>
        <ion-col size="6" class="ion-text-end ion-padding-top"> 
          ชั้นความลับ:&nbsp;ลับ
        </ion-col>
      </ion-row>
      <ion-row style="font-size: 16px;">
        <ion-col size="12" class="ion-padding-top">
          ความน่าเชื่อถือ:&nbsp; {{ news_weight_detail }}
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="news_approve == 0 || news_approve == 2">
    <ion-radio-group>
          <ion-row>
            <ion-col>
                <ion-item lines="none" color="cardcolor2">
                    <ion-label>อนุมัติ</ion-label>
                    <ion-radio slot="start" checked color="tertiary" (click)="Nocomment()"></ion-radio>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item lines="none" color="cardcolor2">
                    <ion-label>ไม่อนุมัติ</ion-label>
                    <ion-radio slot="start" color="tertiary" (click)="comment()"></ion-radio>
                </ion-item>
            </ion-col>
          </ion-row>    
    </ion-radio-group>
    <div *ngIf="select" ></div>
    <div *ngIf="select" class="ion-padding" >
      <ion-card-title>
        ความคิดเห็น
      </ion-card-title>
      <br>
      <div class="box">
        <ion-textarea placeholder="ความคิดเห็น" autoGrow="true" rows="7" [(ngModel)]="news_upapprove_comment">
        </ion-textarea>
      </div>
      <!-- <ion-item lines="none" color="cardcolor2">
          <ion-label color="tertiary">
            ส่งกลับไปแก้ไข
          </ion-label>
          <ion-radio slot="start" value="biff" checked color="tertiary"></ion-radio>
      </ion-item> -->
      <ion-item lines="none">
        <ion-checkbox color="tertiary" slot="start" [(ngModel)]="checkbox" (ionChange)="selects($event)"></ion-checkbox>
        <ion-label>ส่งกลับไปแก้ไข</ion-label>
      </ion-item>
    </div>
      <div class="ion-padding">
        <ion-button (click)="approve()" expand="block" color="buttonlogin">
          ยืนยัน
        </ion-button>
        <br>
        <div *ngIf="select">
        <ion-button (click)="edit()" expand="block" color="buttonlogin" fill="outline">
          แก้ไขข้อมูล
        </ion-button>
        </div>
      </div>
    </div>
  </ion-card>
</ion-content>
