<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <div class="color-text-header">
        โปรไฟล์
      </div>
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="goHome()">
        <div class="color-text-header">
          <ion-icon slot="icon-only" name="home"></ion-icon>
        </div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color="cardcolor2">
    <ion-card-header>
      <ion-card-title>
        <div class="textcolor">
          ข้อมูลส่วนตัว
        </div>
      </ion-card-title>
    </ion-card-header>
    <div class="flex">
      <ion-fab-button color="colorcard" class="main-button">
        <ion-icon name="camera" class="custom-icon" color="buttonlogin"></ion-icon>
      </ion-fab-button>
    </div>  
      <ion-card-content class="text">
        <ion-row>
        คำนำหน้า : -
        </ion-row>
        <ion-row>
        ชื่อ-นามสกุล : -
        </ion-row>
        <ion-row>
        ตำแหน่งปัจจุบัน : -
        </ion-row>
        <ion-row>
        อายุตำแหน่งงานปัจจุบัน : -
        </ion-row>
        <ion-row>
        วันที่เริ่มดำรงตำแหน่ง : -
        </ion-row>
        <ion-row>
        อายุงานทั้งหมด : -
        </ion-row>
      </ion-card-content>
    <!-- <ion-card-header>
      <ion-card-title>
          <ion-row>
              <ion-col>
                <div class="textcolor">
                  ความปลอดภัย
                </div>
              </ion-col>
              <ion-col class="ion-text-end">
                <ion-button (click)="goProfile()" fill="clear">
                  <ion-icon name="create" color="buttonlogin" class="ion-padding-bottom" strong="true"></ion-icon>
                </ion-button>
              </ion-col>
          </ion-row> -->
            <!-- <ion-item lines="none">
                <ion-icon slot="end" name="create" color="buttonlogin"></ion-icon>
                  <ion-label>
                    <div class="textcolor">
                      ความปลอดภัย
                    </div>
                  </ion-label>
            </ion-item> -->
      <!-- </ion-card-title>
    </ion-card-header>   -->
      <!-- <ion-card-content class="text">
        <ion-row>
          อีเมล์ : user@email
        </ion-row>
        <ion-row>
          เบอร์โทรศัพท์ : 091-2640656
        </ion-row>
        <ion-row>
          ชื่อผู้ใช้งาน : username
        </ion-row>
      
      </ion-card-content> -->
      <!-- <ion-button (click)="goProfile()">
        Click me
      </ion-button> -->
    <div class="ion-padding">
      <ion-button (click)="logout()" expand="block" color="tabsApproveColor" fill="outline">
        ออกจากระบบ
      </ion-button>
    </div>
  </ion-card>
</ion-content>

<!-- <ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      ตั้งค่า
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-avatar slot="start">
    <img src="">
  </ion-avatar>
  <ion-thumbnail slot="start">
      <img src="">
  </ion-thumbnail>
  <ion-list-header color="medium">
    ข้อมูลส่วนตัว
  </ion-list-header>
   <ion-grid>
      <ion-row>
       <ion-col size="6">ชื่อยศ/คำนำหน้า:</ion-col>
       <ion-col size="6">SS</ion-col>
      </ion-row>
      <ion-row>
       <ion-col size="6">ชื่อ-นามสกุล:</ion-col>
       <ion-col size="6">kanom</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">ตำแหน่งปัจจุบัน:</ion-col>
        <ion-col size="6">Nava</ion-col>
      </ion-row>
      <ion-row>
          <ion-col size="6">อายุตำแหน่งงานปัจจุบัน:</ion-col>
          <ion-col size="6">10/10/10</ion-col>
      </ion-row>
      <ion-row>
          <ion-col size="6">วันที่เริ่มดำรงตำแหน่ง:</ion-col>
          <ion-col size="6">10/10/10</ion-col>
      </ion-row>
      <ion-row>
          <ion-col size="6">วันที่เริ่มทำงาน:</ion-col>
          <ion-col size="6">10/10/10</ion-col>
      </ion-row>
      <ion-row>
          <ion-col size="6">อายุงานทั้งหมด:</ion-col>
          <ion-col size="6">3000</ion-col>
      </ion-row>
   </ion-grid>
  <ion-list-header color="medium">
    ความปลอดภัย
  </ion-list-header>
  <ion-grid>
      <ion-row>
       <ion-col size="6">email:</ion-col>
       <ion-col size="6">@email</ion-col>
      </ion-row>
      <ion-row>
       <ion-col size="6">หมายเลขโทรศัพท์:</ion-col>
       <ion-col size="6">xxx-xxxxxxx</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">ชื่อผู้ใช้:</ion-col>
        <ion-col size="6">User</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">รหัสผ่าน:</ion-col>
        <ion-col size="6">password</ion-col>
      </ion-row>
   </ion-grid>
  
</ion-content> -->
