ion-content{
    --ion-background-color:#f7f2f2;
    }
.textcolor{
  color: rgb(212, 21, 21);
}
.custom-icon{
    font-size: 4em;
}
.flex {
  display: flex;
  justify-content: center;
}
.main-button{
  --box-shadow:none;
  width: 100px !important;
  height: 100px !important;
}
.text{
font-family: THSarabunNew;
font-size: 16px;
}
ion-header ion-toolbar {
  --background: url("../../assets/img/admin.jpg") center / 100%;
}
.color-text-header{
  color: lighten($color: #ffff, $amount: 0);
}


