<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <div class="color-text-header">
        <ion-back-button></ion-back-button>
      </div>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <div class="color-text-header">
        เนื้อหาข่าว
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="cardcolor2">
    <ion-card-header class="headcolor ion-text-center" *ngIf="news_approve == 0">
      <div class="textcolor">
        รออนุมัติ
      </div>  
    </ion-card-header>
    <ion-card-header class="headcolor ion-text-center" *ngIf="news_approve == 2">
      <div class="textcolor">
        ไม่อนุมัติรอการแก้ไข
      </div>  
    </ion-card-header>
    <ion-card-header>
      <ion-card-title>
        <div class="textfonthead">
          {{ news_topic_detail }}
        </div>
      </ion-card-title>
    </ion-card-header>
  <ion-grid>
    <ion-row>
      <!-- <ion-col class="textcolor1">{{ news_type_detail }}</ion-col>
      <ion-col class="ion-text-right textcolor2">{{ news_time | date:'dd/M/yyyy'}}</ion-col> -->
      <ion-col class="textcolor1" style="padding-left: 11px;" size="5">{{ news_type_detail }}</ion-col>
      <ion-col class="ion-text-right textcolor2" style="padding-right: 11px; padding-top: 9.5px;"size="7">{{ news_time }}</ion-col>
    </ion-row>        
  </ion-grid>
  <ion-card-content>
    <div class="textfont">
      {{ news_detail }}
    </div>
  </ion-card-content>
    <!-- <div *ngIf="urlToImage === checkimg">
    </div> -->
    <!-- <div *ngIf="urlToImage !== checkimg"> -->
    <div *ngFor="let n of getimage">
        <ion-img [src]="n.local_image" class="ion-padding" style="width: auto; height: auto;"></ion-img>
    </div>
    <br>
      <!-- <ion-img [src]="images" class="ion-padding" style="width: auto; height: auto;"></ion-img> -->
    <!-- </div> -->
    <ion-row *ngIf="news_approve == 1" class="ion-padding hrcolor">
      <ion-col size="6" style="font-size: 16px;">ผู้รายงาน:&nbsp;{{ news_w_user_id }}</ion-col>
      <ion-col size="6" class="ion-text-end" style="font-size: 16px;">ที่มา:&nbsp;{{ news_form_detail }}</ion-col>
    </ion-row>
    <div *ngIf="news_approve == 0 || news_approve == 2">
      <div class="ion-padding">
        <div *ngFor="let detail of getDetail">
          <ion-row style="font-size: 16px;">
            <ion-col class="hrcolor ion-padding-top">
              ผู้รายงาน
            </ion-col>
            <ion-col class="hrcolor ion-padding-top ion-text-end">
            {{ detail.news_w_user_id }}
            </ion-col>
          </ion-row>
          <ion-row style="font-size: 16px;">
            <ion-col>
              กลุ่มข่าว
            </ion-col>
            <ion-col class="ion-text-end">
              {{ detail.news_country_detail }}
            </ion-col>
          </ion-row>
          <ion-row style="font-size: 16px;">
            <ion-col>
              ประเภทข่าว
            </ion-col>
            <ion-col class="ion-text-end">
              {{ news_type_detail }}
            </ion-col>
          </ion-row>
          <div *ngIf="detail.country_id == 2">
            <ion-row style="font-size: 16px;">
              <ion-col>
                ทวีป
              </ion-col>
              <ion-col class="ion-text-end">
                {{ detail.continents_name }}
              </ion-col>
            </ion-row>
            <ion-row style="font-size: 16px;">
              <ion-col>
                ชื่อประเทศ
              </ion-col>
              <ion-col class="ion-text-end">
                {{ detail.country_name }}
              </ion-col>
            </ion-row>
          </div>
          <div *ngIf="detail.country_id == 1">
            <ion-row style="font-size: 16px;">
              <ion-col>
                ภูมิภาค
              </ion-col>
              <ion-col class="ion-text-end">
                {{ detail.name }}
              </ion-col>
            </ion-row>
            <ion-row style="font-size: 16px;">
              <ion-col>
              จังหวัด
              </ion-col>
              <ion-col class="ion-text-end">
                {{ detail.name_th_province }}
              </ion-col>
            </ion-row>
            <ion-row style="font-size: 16px;">
              <ion-col>
                อำเภอ/เขต
              </ion-col>
              <ion-col class="ion-text-end">
                {{ detail.name_th_amphure }}
              </ion-col>
            </ion-row>
            <ion-row style="font-size: 16px;">
              <ion-col>
                ตำบล/แขวง
              </ion-col>
              <ion-col class="ion-text-end">
                {{ detail.name_th_district }}
              </ion-col>
            </ion-row>
          </div>
          <ion-row style="font-size: 16px;">
            <ion-col>
              แหล่งที่มา
            </ion-col>
            <ion-col class="ion-text-end">
              {{ news_form_detail }}
            </ion-col>
          </ion-row>
          <ion-row style="font-size: 16px;">
            <ion-col>
              ชั้นความลับ
            </ion-col>
            <ion-col class="ion-text-end">
              <div *ngIf="detail.news_secret == 'normal_secret'">ลับ</div>
              <div *ngIf="detail.news_secret == 'medium_secret'">ลับมาก</div>
              <div *ngIf="detail.news_secret == 'top_secret'">ลับมากที่สุด</div>
            </ion-col>
          </ion-row>
          <ion-row style="font-size: 16px;">
            <ion-col>
              สถานที่เกิดเหตุ
            </ion-col>
            <ion-col class="ion-text-end">
              {{ detail.location }}
            </ion-col>
          </ion-row>
          <ion-row style="font-size: 16px;">
            <ion-col>
              เวลาเกิดเหตุ
            </ion-col>
            <ion-col class="ion-text-end">
              {{ detail.news_time_occurrence }}
            </ion-col>
          </ion-row>
        </div>
      </div>
      <div *ngIf="commentDetail != ''">
        <div class="ion-padding-start ion-padding-end ion-padding-bottom">
          <ion-button (click)="eventDropdown()" color="danger">
            ประวัติการแก้ไข
            <ion-icon name="arrow-dropdown" slot="end" *ngIf="Dropdown1"></ion-icon>
            <ion-icon name="arrow-dropup" slot="end" *ngIf="Dropdown2"></ion-icon>
          </ion-button>
        </div>
      </div>
      <div *ngIf="Dropdown1">
        <div *ngFor="let comment of commentDetail">
          <div class="ion-padding-start ion-padding-end">
            <ion-item lines="none">
              <ion-label>{{ comment.comment_time }}</ion-label>
            </ion-item>
            <div class="box">
              <ion-textarea autoGrow="true" disabled placeholder="{{ comment.comment_detail }}">
              </ion-textarea>
            </div>
          </div>
        </div>
      </div>
      <!-- <div *ngFor="let comment of commentDetail">
          <div class="ion-padding-top ion-padding-start ion-padding-end">
            <ion-item lines="none" (click)="eventDropdown()">
              <ion-label>{{ comment.comment_time }}</ion-label>
              <ion-icon name="arrow-dropdown" slot="end" *ngIf="Dropdown1"></ion-icon>
              <ion-icon name="arrow-dropup" slot="end" *ngIf="Dropdown2"></ion-icon>
            </ion-item>
            <div class="box" *ngIf="Dropdown1">
              <ion-textarea autoGrow="true" disabled placeholder="{{ comment.comment_detail }}">
              </ion-textarea>
            </div>
          </div>
      </div> -->
    </div>
    <div *ngIf="news_approve == 0 || news_approve == 2">
    <ion-radio-group>
          <ion-row>
            <ion-col>
                <ion-item lines="none" color="cardcolor2">
                    <ion-label>อนุมัติ</ion-label>
                    <ion-radio slot="start" checked color="danger" (click)="Nocomment()"></ion-radio>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item lines="none" color="cardcolor2">
                    <ion-label>ไม่อนุมัติ</ion-label>
                    <ion-radio slot="start" color="danger" (click)="comment()"></ion-radio>
                </ion-item>
            </ion-col>
          </ion-row>    
    </ion-radio-group>
    <div *ngIf="select" ></div>
    <div *ngIf="select" class="ion-padding" >
      <ion-card-title>
        ความคิดเห็น
      </ion-card-title>
      <br>
      <div class="box">
        <ion-textarea placeholder="ความคิดเห็น" autoGrow="true" rows="7" [(ngModel)]="news_upapprove_comment">
        </ion-textarea>
      </div>
      <!-- <ion-item lines="none" color="cardcolor2">
          <ion-label color="tertiary">
            ส่งกลับไปแก้ไข
          </ion-label>
          <ion-radio slot="start" value="biff" checked color="tertiary"></ion-radio>
      </ion-item> -->
      <ion-item lines="none">
        <ion-checkbox color="danger" slot="start" [(ngModel)]="checkbox" (ionChange)="selects($event)"></ion-checkbox>
        <ion-label>ส่งกลับไปแก้ไข</ion-label>
      </ion-item>
    </div>
      <div class="ion-padding">
        <ion-button (click)="approve()" expand="block" color="tabsApproveColor">
          ยืนยัน
        </ion-button>
        <br>
        <div *ngIf="select">
        <ion-button (click)="edit()" expand="block" color="tabsApproveColor" fill="outline">
          แก้ไขข้อมูล
        </ion-button>
        </div>
      </div>
    </div>
  </ion-card>
</ion-content>
