<ion-header>
    <ion-toolbar color="buttonlogin">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>แก้ไขความปลอดภัย</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-card color="cardcolor2">
    <ion-card-header>
      <ion-card-title>
        <div class="textcolor">
            <h3>ความปลอดภัย</h3>
        </div>        
      </ion-card-title>
    </ion-card-header>
    <ion-card-header>
        <ion-card-title>
          เบอร์โทศัพท์
        </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="box"> 
        <ion-input placeholder="กรอกเบอร์โทรศัพท์"></ion-input>
      </div>
    </ion-card-content>
    <ion-card-header>
        <ion-card-title>ชื่อผู้ใช้งาน</ion-card-title>
    </ion-card-header>
      <ion-card-content>
        <div class="box"> 
          <ion-input placeholder="username"></ion-input>
        </div>
    </ion-card-content>
    <ion-card-header>
        <ion-card-title>รหัสผ่านเดิม</ion-card-title>
    </ion-card-header>
      <ion-card-content>
        <div class="box"> 
          <ion-input placeholder="**********"></ion-input>
        </div>
    </ion-card-content>
    <ion-card-header>
        <ion-card-title>รหัสผ่านใหม่</ion-card-title>
    </ion-card-header>
      <ion-card-content>
        <div class="box"> 
          <ion-input placeholder="**********"></ion-input>
        </div>
    </ion-card-content>
    <ion-card-header>
        <ion-card-title>ยืนยันรหัสผ่านใหม่</ion-card-title>
    </ion-card-header>
      <ion-card-content>
        <div class="box"> 
          <ion-input placeholder="**********"></ion-input>
        </div>
    </ion-card-content>
    <ion-card-header>
        <ion-card-title>รหัส OTP</ion-card-title>
    </ion-card-header>
      <ion-card-content>
        <div class="box"> 
          <ion-input placeholder="**********"></ion-input>
        </div>
    </ion-card-content>
    <div class="ion-padding">
      <ion-button (click)="onClick()" expand="full" color="buttonlogin">
        ยืนยัน  
      </ion-button>
    </div>
  </ion-card> -->
   
  <ion-button (click)="loadGallery()">
    Click
  </ion-button>
  <ion-button (click)="openvideo()">
    openvideo
  </ion-button>

  <ion-button (click)="openCamera()">
    Click me
  </ion-button>
  <ion-button (click)="selectImage()">
    Click me
  </ion-button>
  <ion-button (click)="capturevideo()">
    Click me
  </ion-button>

  <ion-button (click)="UploadFile()">
    uploadfile
  </ion-button>
  <label><b>{{ uploadText }}</b></label>
  <ion-button (click)="AbortUpload()">
  cancel uploading
  </ion-button>
  
  <ion-button (click)="Playvideo()">
    Play video
  </ion-button>

  <ion-button (click)="getMap()">
    get map
  </ion-button>
  <iframe src="http://beta.giscloud.com/embed/?map=4" width="100%" height="300" frameborder="0"></iframe>


</ion-content>
