<ion-header>
  <ion-toolbar color="buttonlogin">
    <ion-buttons  slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      แก้ไขข่าว
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="cardcolor2">
    <ion-card-header>
      <ion-card-title>หัวข้อข่าว</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="box"> 
        <ion-input placeholder="กรอกหัวข้อข่าว" [(ngModel)]="postdata.headline"></ion-input>
      </div>
    </ion-card-content>
    <ion-card-header>
        <ion-card-title>ประเภทข่าว</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <div class="box"> 
          <ion-select placeholder="เลือกประเภทข่าว" [(ngModel)]="postdata.news_type">
              <ion-select-option *ngFor="let Newstype of dataNewstype" [value]="Newstype.news_type_id">{{Newstype.news_type_detail}}</ion-select-option>
          </ion-select>
        </div>
    </ion-card-content>
    <ion-card-header>
      <ion-card-title>ประเทศ</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <div class="box"> 
          <ion-select placeholder="เลือกประเทศ" value="1">
          <!-- <ion-select placeholder="เลือกประเทศ" [(ngModel)]="postdata.country"> -->
            <ion-select-option value="1">ไทย</ion-select-option>
          </ion-select>
        </div>
    </ion-card-content>
    <ion-card-header>
        <ion-card-title>ภูมิภาค</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <div class="box"> 
          <ion-select placeholder="เลือกภูมิภาค" [(ngModel)]="postdata.region" (ionChange)="selectProvinces($event)">
            <ion-select-option *ngFor="let Geography of dataGeography" [value]="Geography.geography_id">{{Geography.name}}</ion-select-option>
          </ion-select>
        </div>
    </ion-card-content>
    <ion-card-header>
        <ion-card-title>จังหวัด</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <!-- <div class="box"> 
          <ion-select placeholder="เลือกจังหวัด" [(ngModel)]="postdata.province" (ionChange)="selectAmphures($event)">
              <ion-select-option *ngFor="let Provinces of dataProvinces" [value]="Provinces.province_id">{{Provinces.name_th_province}}</ion-select-option>
          </ion-select>
        </div> -->
        <div class="box"> 
          <ion-select placeholder="เลือกอำเภอ/เขต" [(ngModel)]="postdata.province" (ionChange)="selectAmphures($event)">
            <ion-select-option *ngFor="let Provinces of dataProvinces" [value]="Provinces.province_id">{{Provinces.name_th_province}}</ion-select-option>
          </ion-select>
        </div>
    </ion-card-content>    
    <ion-card-header>
        <ion-card-title>อำเภอ/เขต</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <div class="box"> 
          <ion-select placeholder="เลือกอำเภอ/เขต" [(ngModel)]="postdata.city" (ionChange)="selectDistricts($event)">
            <ion-select-option *ngFor="let Amphures of dataAmphures" [value]="Amphures.district_id">{{Amphures.name_th_amphure}}</ion-select-option>
          </ion-select>
        </div>
    </ion-card-content>   
    <ion-card-header>
        <ion-card-title>ตำบล/แขวง</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <div class="box"> 
          <ion-select placeholder="เลือกตำบล/แขวง" [(ngModel)]="postdata.district">
            <ion-select-option *ngFor="let Districts of dataDistricts" [value]="Districts.sub_district_id">{{Districts.name_th_district}}</ion-select-option>
          </ion-select>
        </div>
    </ion-card-content>   
    <ion-card-header>
        <ion-card-title>พิกัด</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="onClick()" expand="block" fill="outline" color="buttonlogin" size="default">
        <ion-icon name="pin"></ion-icon>
          ใช้ตำแหน่งปัจจุบันของคุณ
      </ion-button>
    </ion-card-content>
    <ion-card-header>
        <ion-card-title>รายละเอียด</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="box">
        <ion-textarea placeholder="กรอกรายละเอียดข่าว" autoGrow="true" rows="7" [(ngModel)]="postdata.description">
  
        </ion-textarea>
      </div>
     </ion-card-content>
    <ion-card-header>
        <ion-card-title>แนบไฟล์เเกี่ยวข้อง</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="selectImage()" expand="block" fill="outline" color="buttonlogin" size="default">
        <ion-icon name="add-circle-outline"></ion-icon>
          เพิ่มไฟล์
      </ion-button>
    </ion-card-content>
    <ion-list>
      <ion-item *ngFor="let img of images; index as pos" text-wrap>
        <ion-thumbnail slot="start">
          <ion-img [src]="img.path"></ion-img>
        </ion-thumbnail>
        <ion-label>
          {{ img.name }}
        </ion-label>
        <ion-button slot="end" fill="clear" (click)="deleteImage(img, pos)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item *ngIf="postdata.local_image" text-wrap>
        <ion-thumbnail slot="start">
          <ion-img [src]="postdata.local_image"></ion-img>
        </ion-thumbnail>
        <ion-label>
          {{ postdata.local_image | slice:32}}
        </ion-label>
        <ion-button slot="end" fill="clear" (click)="deleteImageUrl()">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-item>
      <div *ngFor="let m of getimage; index as number">
        <ion-item text-wrap>
          <ion-thumbnail slot="start">
            <ion-img [src]="m.local_image"></ion-img>
          </ion-thumbnail>
          <ion-label>
            {{ m.local_image | slice:33}}
          </ion-label>
          <ion-button slot="end" fill="clear" (click)="deleteImageUrl(m ,number)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </div>
    </ion-list>
    <ion-card-header>
        <ion-card-title>แหล่งที่มา</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="box"> 
        <ion-input placeholder="กรอกแหล่งที่มา" [(ngModel)]="postdata.news_source"></ion-input>
      </div>
    </ion-card-content>
    <ion-card-header>
        <ion-card-title>ค่าข่าว</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <div class="box"> 
          <ion-select placeholder="แหล่งข่าว" [(ngModel)]="postdata.news_sources">
            <ion-select-option [value]="1">ข(เชื่อถือได้)</ion-select-option>
          </ion-select>
        </div>
      </ion-card-content>
      <ion-card-content>
        <div class="box"> 
          <ion-select placeholder="ความน่าเชื่อถือ" [(ngModel)]="postdata.reliability">
            <ion-select-option *ngFor="let News_weight of dataNews_weight" [value]="News_weight.news_weight_id">{{ News_weight.news_weight_detail }}</ion-select-option>
          </ion-select>
        </div>
    </ion-card-content>
    <ion-card-header>
        <ion-card-title>ชั้นความลับ</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <div class="box"> 
          <ion-select placeholder="ความน่าเชื่อถือ" [(ngModel)]="postdata.secret">
            <ion-select-option value="normal_secret">ลับ</ion-select-option>
            <ion-select-option value="medium_secret">ลับมาก</ion-select-option>
            <ion-select-option value="top_secret">ลับมากที่สุด</ion-select-option>
          </ion-select>
        </div>
    </ion-card-content>
    <ion-card-header>
      <ion-card-title>รหัสหรือนามแฝง</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <div class="box"> 
      <ion-input placeholder="รหัสหรือนามแฝง" [(ngModel)]="postdata.news_name_alias"></ion-input>
    </div>
    </ion-card-content>
    <div class="ion-padding">
      <ion-button (click)="save()" expand="full" color="buttonlogin">
            บันทึก  
      </ion-button>
    </div>
    
  </ion-card>
</ion-content>
